.cabinet {
	padding: 63px 0 237px;

	@include media-max(1024) {
		padding: 26px 0 100px;
	}

	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 23px;
		color: #000000;
	}

	&__content {
		position: relative;
		height: 100%;
		padding: 50px 20px 0 0px;

		@include media-max(1350) {
			padding: 0 20px 0 20px;
		}

		@include media-max(1024) {
			justify-content: center;
		}
	}

	&__content-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 29px;
	}

	&__edit-btn {
		width: 235px;
		height: 52px;
		background: #F9F9F9;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 26px 0 32px;

		@include media-max(1024) {
			left: 50%;
			transform: translateX(-50%);
			top: 267px;
		}

		span {
			font-family: 'FrutigerNeue', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			color: #555555;
		}
	}

	&__edit-btn.edit {
		background: #62BAAF;
		border-radius: 4px;
	}

	&-form {
		display: flex;

		@include media-max(1350) {
			align-items: center;
		}

		@include media-max(1024) {
			flex-direction: column;
			margin-top: 47px;
		}
	}

	&-form__data {
		display: grid;
		grid-template-columns: repeat(2, 273px);
		padding-left: 65px;
		padding-top: 26px;
		gap: 0 34px;

		@include media-max(1350) {
			padding-left: 25px;
			padding-top: 0;
			grid-template-columns: repeat(1, 273px);
		}

		@include media-max(1024) {
			margin-top: 105px;
		}

		label {
			display: flex;
			flex-direction: column;

			@include media-max(1350) {
				margin-bottom: 10px;
				align-items: flex-start;
			}

			&:first-child {
				grid-column: 1/3;

				@include media-max(1350) {
					grid-column: 1/2;
				}
			}

			span {
				font-family: 'FrutigerNeue', sans-serif;
				font-weight: 300;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: 0.005em;
				color: #555555;
				margin-bottom: 13px;
			}

		}
	}

	&-form__input {
		font-family: 'FrutigerNeue', sans-serif;
		font-style: normal;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.005em;
		color: #555555;
		border-radius: 4px;
		margin-left: -14px;
		padding-left: 14px;
		width: 273px;
		height: 38px;
	}

	&-form__input.edit {
		background: #EDEDED;
	}

	&-form__input:disabled {
		background: transparent;
		border: none;
	}

	&-form__input-file {
		display: none;
	}

	&-password {
		max-width: 882px;
		width: 100%;

		@include media-max(1024) {
			margin-top: 60px;
		}
	}

	&-password__input {
		max-width: 882px;
		width: 100%;
		height: 64px;
		padding: 0px 30px;
		background: #F4F4F4;
		border-radius: 7px;
		border: none;

		&:focus {
			border: 1px solid #365BDF;
		}

		&:first-child {
			margin-bottom: 9px;
		}

		&::placeholder {
			font-weight: 400;
			font-size: 16px;
			line-height: 15px;

			color: #565656;
		}
	}

	&-password__btn {
		margin-top: 28px;
		width: 232px;
		height: 46px;
		background: #365BDF;
		border-radius: 3px;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.005em;
		color: #FFFFFF;

		@include media-max(1024) {
			max-width: 353px;
			width: 100%;
			margin: 28px auto 0;
			border-radius: 8px;
			margin-top: 0px;
		}
	}

	&__tours-items,
	&__guidebooks-items {
		overflow-y: scroll;
		height: 563px;

		@include media-max(1200) {
			padding: 22px 20px 0px 20px;
		}

		@include media-max(500) {
			padding: 0;
		}
	}

	&__tours-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #F7F7F7;
		border-radius: 7px;
		height: 144px;
		padding: 0px 78px 0px 48px;
		max-width: 846px;

		@include media-max(700) {
			flex-direction: column;
		}
	}

	&__tours-item,
	&__guidebooks-item {
		display: flex;
	}

	&__tours-item+&__tours-item {
		margin-top: 8px;
	}

	.cabinet__tours-number {
		font-family: 'GothamPro', sans-serif;
		font-weight: 500;
		font-size: 24px;
		line-height: 23px;
		color: #000000;

		span {
			color: #365BDF;
		}
	}

	.cabinet__tours-status {
		display: flex;
		flex-direction: column;
		row-gap: 9px;
		width: 25%;
	}

	.cabinet__tours-status-title {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.005em;
		color: #555555;
	}

	.cabinet__tours-descr {
		font-family: 'GothamPro', sans-serif;
		font-weight: 500;
		font-size: 24px;
		line-height: 23px;
	}

	.cabinet__tours-expect {
		color: #555555;
	}

	.cabinet__tours-done {
		color: #519938;
	}

	.cabinet__tours-cansel {
		color: #E85353;
	}

	.cabinet__tours-link {
		max-width: 196px;
		width: 100%;
		height: 46px;
		background: #365BDF;
		border-radius: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.005em;
		color: #FFFFFF;
	}
	.cabinet__content-wrap-additional{
		flex-direction: column;
		row-gap: 25px;
		align-items: flex-start;
	}

}


.input__wrapper {
	background: #F8F8F8;
	border-radius: 6px;
	width: 263px;
	height: 208px;

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		img {
			margin-top: 30px;
		}

		span {
			font-family: 'FrutigerNeue', sans-serif;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.005em;
			color: #FFFFFF;
			width: 243px;
			height: 38px;
			background: #365BDF;
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 17px;
			cursor: pointer;
		}
	}
}