.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 32px 0;

  svg {
    margin-right: 10px;
  }

  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.005em;
    color: #555555;
    margin: 0 4px;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.005em;
    color: #555555;

    &.active {
      color: $color-main;
    }
  }
}