.title {
	font-weight: 400;
	font-size: 32px;
	line-height: 31px;
	letter-spacing: 0.005em;
	color: #0C0C0C;
	font-family: 'GothamPro', sans-serif;
	@include media-max(768) {

	}

	@include media-max(500) {
	
	}
}